DATABASE_URL="postgresql://postgres.ukrdxgyuuujlpwderwgm:Ash09848881278@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
ADMIN_EMAIL= "admin@gmail.com"
ADMIN_PASSWORD = "admin123"
JWT_SECRET = "secretkey"
MAX_ATTACHMENT_SIZE_MB = 10
STORAGE_PROVIDER = "local"
LOCAL_UPLOAD_PATH = "./uploads"